extends ../../common/layout/layout
block append meta
    title calc的计算和使用
block localCss
    link(rel="stylesheet" href="css/calc.css")
block script
block content
    p hello world
    p calc的计算和使用
    p 创建分支并且提交