extends ../../common/layout/layout
block append meta
    title 滤镜
block localCss
    link(rel="stylesheet" href="css/filter.css")
block script
block content
    p.photo-border-effect
    p.warhol-effect
    p.mirror-y-effect